@use '/src/assets/styles/variables.scss' as *;

.messages {
  padding: 10px;
  height: calc(100% - 130px);
  overflow-y: scroll;
}

.messages::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.messages::-webkit-scrollbar-track {
  background-color: transparent;
}
.messages:hover::-webkit-scrollbar-track {
  background-color: $darkreader-bg2;
}

.messages::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background 1s;
  border-radius: 8px;
}

.messages:hover::-webkit-scrollbar-thumb {
  background-color: $highlight-hover-color;
}

.messages::-webkit-scrollbar-thumb:hover {
  background-color: $highlight-hover-color;
}
