@use '/src/assets/styles/variables.scss' as *;

.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 35px 10px;
  justify-content: space-between;
  border-bottom: 1px solid $grey;

  .logo {
    font-weight: bold;
  }

  .user {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      background-color: white;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      object-fit: cover;
    }

    button {
      background-color: $darkreader-neutral-text;
      font: inherit;
      color: $color-base-dark;
      font-size: 13px;
      border: 1px solid transparent;
      border-radius: $main-border-radius;
      cursor: pointer;
      transition: background-color 0.5s;
      padding: 6px 3px;
    }

    button:hover {
      background-color: $highlight-hover-color;
      color: $darkreader-neutral-text;
      border-color: $darkreader-neutral-text;
      /*Вынести в глобал?*/
    }
  }
}
