@use '/src/assets/styles/variables.scss' as *;

.chat {
  flex: 2;
}

.chat_info {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 35px 20px;
  color: $darkreader-neutral-text;
  border-bottom: 1px solid $grey;
}
