@use '/src/assets/styles/variables.scss' as *;

.modal {
  min-width: 180px;
  background-color: $darkreader-neutral-text;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 3px solid $highlight-main-color;
  border-radius: 10px;
}

.modal_container {
  display: flex;
  width: 90%;
  flex-direction: column;
  font: 15px;
  font-style: bold;
}

.modal_container__exit {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.modal_message {
  color: $black;
  transition: color 0.5s;
  cursor: pointer;
  &:hover {
    color: $highlight-hover-color;
  }
}

.modal_input_container {
  width: 50%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.edit_input {
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
  font-size: 14px;
  font-family: inherit;
  color: black;
  padding: 4px 30px;
  border-radius: 5px;
}

.closeModal {
  position: absolute;
  top: 4px;
  right: 20px;
  height: 24px;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity ease 0.5s;
  width: 5px;
  height: 5px;

  &:hover {
    opacity: 1;
  }
}

.closeModal::before,
.closeModal::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 18px;
  height: 3px;
  background: #000;
  border-radius: 100px;
}

.closeModal::before {
  transform: rotate(45deg);
}

.closeModal::after {
  transform: rotate(-45deg);
}
