@use '/src/assets/styles/variables.scss' as *;

.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: flex-end;
  position: relative;

  &.owner {
    flex-direction: row-reverse;

    .message_content {
      align-items: flex-end;
    }

    p {
      background-color: $color-base;
      border-radius: 10px 0px 10px 10px;
      max-width: max-content;
    }
  }
}

.message_info {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  color: $grey;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  span {
    color: $true-grey;
  }
}
.message_content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;

  p {
    background-color: $darkreader-bg2;
    color: white;
    padding: 10px 20px;
    border-radius: 0px 10px 10px 10px;
    transition: background-color ease 0.5s;
    &:hover {
      background-color: hsl(219deg 28.53% 21.81%);
    }
  }
  img {
    width: 50%;
  }
}
