@use '../../assets//styles/variables.scss' as *;

.home {
  background-color: $darkreader-neutral-background;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    background-color: #222222;
    min-width: 660px;
    box-shadow: rgb(113 121 130 / 30%) 0px 0px 0px 3px;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
  }
}
