@use '/src/assets/styles/variables.scss' as *;
/*will this work at deploy?*/

.search {
  border-bottom: 1px solid $grey;

  .search_form {
    padding: 15px 10px;

    input {
      background-color: $darkreader-neutral-text;
      border: none;
      color: black;
      font-family: inherit;
      font-size: 15px;
      outline: none;
      border-bottom: 1px solid #4e4a46;
      padding: 6px 10px;
      width: 85%;
      border-radius: 10px;
    }
  }
}

.user_chat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  cursor: pointer;
  transition: background-color $main-transition-time;

  &:hover {
    background-color: $highlight-hover-color;
  }

  img {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.user_chat_info {
  span {
    font-size: 18px;
    font-weight: 500;
  }
  p {
    font-size: 14px;
  }
}
