$darkreader-neutral-background: #131516;
$darkreader-neutral-text: #d8d4cf;
$darkreader-selection-background: #004daa;
$darkreader-selection-text: #e8e6e3;
$grey-border: rgb(38 38 38);
$border-light-color: #4e4a46;

$color-neutral: hsla(219, 29%, 78%);
$color-neutral-dark: rgb(103, 111, 126);
$color-base: hsla(219, 29%, 18%);
$color-base-dark: rgb(23, 29, 41);

$highlight-hover-color: rgb(112 59 247);
$highlight-main-color: rgb(91, 61, 167);

$main-border-radius: 10px;
